body{
	width:100%;
}

h1,h2,h3,ul{
	padding:0;
	margin:0;
}

ul{
	margin-left:2em;
}

a{
	text-decoration:none;
}

#pizza-new {
	display:none;
}

#pizza-main {
	display:none;
}

#center-wrap{
	width:80%;
	margin:0 auto;
}

#head-banner{
	border-bottom:1px solid #ddd;
	vertical-align:bottom;
}

#head-banner img {
	float:left;
}

.head-buttons{
	float:right;
}

.ui-box {
	clear:both;
	margin-top:1em;
	background-color:#eee;
	padding:1em;
}

.pizza {
	background-color:#bbb;
	padding:1em;
	margin-top:2em;
}

.pizza .want-link{
	float:right;
}

.pizza .contents{
	display:block;
	font-style:italic;
}

.button{
	background-color:#ccc;
	padding:0.2em;
	margin:0.3em;
	display:inline-block;
	border-radius:0.4em;
	border:1px solid #ddd;
}

.button:hover{
	background-color:#bbb;
}

.icebreaker {
	clear:both;
}
